* {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Gnb */

#gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  z-index: 19;
}
.gnb__logo {
  position: relative;
}
.gnb__logo a {
  font-size: 26px;
  cursor: pointer;
  color: white;
}

.gnb__logo__square {
  position: absolute;
  top: -3px;
  right: -12px;
  width: 15px;
  height: 15px;
  background-color: #f39800;
}

/* GnbMenu */

.gnb__menu {
  display: flex;
  position: relative;
  left: -90px;
}

.gnb__munu__list a {
  color: gray;
  margin: 0px 14px;
  font-size: 16px;
  cursor: pointer;
}

.gnb__munu__list a:hover,
.link__icon i:hover {
  color: white;
}

.link__icon i {
  font-size: 24px;
  color: gray;
  margin: 0px 7px;
  cursor: pointer;
}
