* {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Gnb */

#gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  padding: 16px 32px;
  z-index: 19;
  width: 97%;
}
.gnb__logo {
  position: relative;
}
.gnb__logo a {
  font-size: 26px;
  cursor: pointer;
  color: black;
}

.gnb__logo__square {
  position: absolute;
  top: -3px;
  right: -12px;
  width: 15px;
  height: 15px;
  background-color: #f39800;
}

/* GnbMenu */

.gnb__menu {
  display: flex;
  position: relative;
  left: -90px;
}

.gnb__munu__list a {
  color: gray;
  margin: 0px 14px;
  font-size: 16px;
  cursor: pointer;
}

.gnb__munu__list a:hover,
.link__icon i:hover {
  color: black;
}

.link__icon i {
  font-size: 24px;
  color: gray;
  margin: 0px 7px;
  cursor: pointer;
}

/* Gnb hover List */
.gnb__collection__hover {
  position: absolute;
  left: 33%;
  top: 12%;
  background-color: white;
  width: 200px;
  height: 150px;
  line-height: 30px;
  border-radius: 4px;
  display: none;
}

.gnb__collection__hober__list {
  margin: 15px 25px;
}
.gnb__collection__hober__list a {
  color: rgb(128, 127, 127);
}

.gnb__product__hover {
  position: absolute;
  left: 45%;
  top: 12%;
  background-color: white;
  width: 200px;
  height: 200px;
  line-height: 30px;
  border-radius: 4px;
  display: none;
}

.gnb__product__hober__list {
  margin: 15px 25px;
}
.gnb__product__hover a {
  color: rgb(128, 127, 127);
}

/* Signiture Basic */

#signiture__basic {
  height: 3000px;
  width: 100%;
  background-color: #cedfe8;
}
.signiture__basic__title {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.signiture__basic__title h2 {
  font-size: 45px;
}
.signiture__basic__square {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 68%;
  right: 36.5%;
  background-color: #006073;
}
.famous__saying {
  text-align: center;
  position: relative;
  color: white;
}

.famous__saying img {
  padding: 50px 0px;
}
.famous__saying__en {
  position: absolute;
  top: 30%;
  left: 35%;
  font-size: 24px;
}
.famouse__saying__ko {
  position: absolute;
  top: 47%;
  left: 37%;
  font-size: 16px;
  color: #6ccffb;
}
.famouse__saying__en__Author {
  position: absolute;
  top: 58%;
  left: 44%;
  font-size: 16px;
}
.famouse__saying__ko__Author {
  position: absolute;
  top: 64%;
  left: 47%;
  font-size: 16px;
  color: #6ccffb;
}

/* Reasonable */

.reasonable {
  display: flex;
  text-align: center;
}
.reasonable__left {
  flex-basis: 43%;
  text-align: right;
  position: relative;
}
.reasonable__right {
  flex-basis: 57%;
  text-align: left;
}
.reasonable__left img,
.reasonable__right img {
  padding: 6px;
}

.reasonable__description {
  background-color: #01354e;
  float: right;
  color: white;
  text-align: left;
  width: 290px;
  height: 360px;
  margin: 6px;
  padding: 40px;
  line-height: 60px;
  margin-bottom: 60px;
}
.reasonable__description__en,
.reasonable__description__ko {
  font-size: 18px;
}

.reasonable__right:nth-child(2) {
  margin-top: 50px;
}

.reasonable__brush {
  position: absolute;
  left: 88%;
  top: 37%;
}

/* Gnb Show */

.showGnb {
  display: block;
}
.scrollGnb {
  background-color: white;
  position: fixed;
  width: 97%;
  transition: all 300ms ease-in-out;
}
